<h1>MyDealz Media Markt Scrape</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Search in table">

                    <table class="footable table table-stripped" data-page-size="500" data-filter=#filter>
                    <thead>
                    <tr>
                              <th>Title</th>
                              <th>Link</th>
                              <th>Redakteur</th>
                              <th>Temperatur</th>
                              <th>Kommentare</th>
                              <th style="text-align: right">Ersteller</th>
                              <th>Datum</th>
                              <th>Lokal</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @entriesArray.each do |entry| %>
                          <tr style="text-align: right" class="gradeX">
                          <td style="width: 1000px; text-align:left" ><%= entry.title %></td>
                          <td><a href="<%= entry.link %>" target="_blank">zum Deal</a></td>
                          <td><%= entry.redakteur %></td>
                          <td><%= entry.temperatur %></td>
                          <td style="width: 100px"><a href="<%= entry.comment_link %>" target="_blank"><%= entry.comment_number %></a></td>
                          <td><%= entry.person %></td>
                          <td><%= entry.datum %></td>
                          <td><%= entry.lokal %></td>
                        </tr>
                        <% end %>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.footable').footable();
    $('.footable2').footable();


});

</script>

<% end %>